/* General reset */
body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 50px;
    left: -250px; /* Hidden by default */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    transition: left 0.3s ease;

  }
  
  .sidebar ul {
    list-style: none;
    padding: 20px;
    margin: 20px
  }
  
  .sidebar ul li {
    margin: 15px 0;
    font-size: 40px;
    height: 40px;
  }
  .sidebar ul li button {
    background-color: #128ef3;
    height: 40px;
    width: 140px;
    color: black;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    color: #f39c12;
  }
  
  /* Toggle button styles */
  .toggle-btn {
    position: fixed;
    top: 70px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: #f10a0a;
    margin: 5px 0;
    transition: 0.3s;
  }
  
  /* Active animation */
  .toggle-btn.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .toggle-btn.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .toggle-btn.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .sidebar.active {
    left: 0;
  }
  